body {
  background-color: #e7f0ff;
}
.calculator {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  flex-wrap: wrap;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 5%;
  border: 10px solid #dc493a;
}
main {
  display: flex;
  gap: 20px;
}
input {
  height: 50px;
  text-align: center;
  font-size: large;
  background-color: #4392f1;
  border-radius: 5%;
}
button {
  background-color: #dc493a;
}
select{
        height: 50px;
        width: 50px;
        text-align: center;
        border-radius: 15%;
}